body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #7FCDB2;
    color:white;
    font-family: 'Edu NSW ACT Foundation', cursive; 
}
div{
    position:absolute;
    top:40%;
    font-size: 80px;
    font-weight: bold;
}